---
import Layout from "../layouts/Layout.astro";
import PuzzlePieces from "../components/Puzzle.jsx";
---

<Layout title="Home">
  <div class="hero-section flex justify-around items-center mx-auto">
    <div class="hero-text max-w-xl">
      <h1 class="text-4xl font-bold mb-4">
        A self proclaimed creative developer
      </h1>
      <p class="text-xl mb-6">
        I work on cool things, or whatever helps me sustain myself to make cool
        things! I like to explore creative projects and experiment with new
        technologies. I design stuff to make it accessible, responsive and fast!
      </p>
    </div>
    <div class="hero-puzzle w-1/2 lg:max-w-md">
      <PuzzlePieces client:only="react" />
    </div>
  </div>
</Layout>
