---
import Navigation from "../components/Navigation.svelte";
import { ViewTransitions } from "astro:transitions";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <ViewTransitions />
    <title>{title} | Waleed</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body
    class="bg-light dark:bg-dark text-dark dark:text-light transition-colors duration-200"
  >
    <Navigation client:load />
    <main class="p-8">
      <slot />
    </main>
  </body>
</html>

<script is:inline>
  const theme =
    localStorage.getItem("theme") ||
    (window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light");

  document.documentElement.classList.toggle("dark", theme === "dark");
  localStorage.setItem("theme", theme);

  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", (e) => {
      if (!localStorage.getItem("theme")) {
        document.documentElement.classList.toggle("dark", e.matches);
      }
    });
</script>

<style is:global>
  :root {
    color-scheme: light dark;
  }
</style>
